* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #d27d32, #d39e3b, #b18a42);
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

main {
    width: 800px;
    margin: 30px auto;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 15px;
    color: #000000;
    border-bottom: 2px solid #ffce00;
    padding-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

#curiosidades ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

#curiosidades img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#curiosidades img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
    background: linear-gradient(to right, #d27d32,#d39e3b, #b18a42);;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
}